In [9]:
import pandas as pd
from datetime import datetime
import numpy as np
from statsmodels.tsa.arima_model import ARIMA #modelo preditivo
from statsmodels.graphics.tsaplots import plot_acf, plot_pacf #parametros do modelo
from statsmodels.tsa.stattools import adfuller #descobrir pra que serve

date_rng = pd.date_range(start='1/1/2018', end='1/08/2018', freq='H')

In [10]:
df = pd.DataFrame(date_rng, columns=['date'])
df['data'] = np.random.randint(0,1000,size=(len(date_rng)))

In [11]:
df.head()

                 date  data
0 2018-01-01 00:00:00   507
1 2018-01-01 01:00:00   279
2 2018-01-01 02:00:00   492
3 2018-01-01 03:00:00   860
4 2018-01-01 04:00:00   909

In [15]:
df_test = df['data']

df_adf_test = df_test.dropna()
result = adfuller(df_adf_test)

print(f'ADF: {round(result[0], 2)}%')
print(f'p-value: {round(result[1])}%')

ADF: -12.23%
p-value: 0.0%