In [56]:
import pandas as pd #biblioteca pandas - analise de dados
import matplotlib.pyplot as plt #biblioteca de graficos
from statsmodels.tsa.seasonal import seasonal_decompose #Time Series Analysis

In [53]:
#variável eel (tabela est_est_log)do tipo dataframe que serve para ler o arquivo csv que é a tabela est_est_log 
eel = pd.read_csv('../tabelas_test/est_est_log_2019-06-18.csv').set_index('id') 
#função que demonstra apenas as primeiras 5 instancias dessa tabela.
eel.head()

,date_hoje,user,ling,num_ani,m_f,date_nasc,id_orig,util,id_solic,data_inicio,...,date_acas,date_nasc_acas,num_nasc,date_sex,num_sex_m,num_sex_f,num_ani_ini,num_ani_fim,obs_desc,grupos_acas
id,,,,,,,,,,,,,,,,,,,,,
1,1408122540,Giovanny,Swiss A,3,m,1402372800,inser,inser,666,666,...,666,666,666,666,666,666,666,666,AAA,AAA
2,1408122540,Giovanny,Swiss A,2,f,1402372800,inser,inser,666,666,...,666,666,666,666,666,666,666,666,AAA,AAA
3,1408122540,Giovanny,Swiss B,3,m,1402372800,inser,inser,666,666,...,666,666,666,666,666,666,666,666,AAA,AAA
4,1408122540,Giovanny,Swiss B,3,f,1402372800,inser,inser,666,666,...,666,666,666,666,666,666,666,666,AAA,AAA
5,1408122540,Giovanny,Swiss B,4,f,1402372800,inser,inser,666,666,...,666,666,666,666,666,666,666,666,AAA,AAA

In [54]:
#variável do tipo dataframe utilizando a função query que serve como um filtro pendindo apenas a coluna "util" com numero de nascidos inferior a 200.
num_sex = eel.query("util == 'nasc' & num_nasc < 200")

#lista com nome das colunas referentes a datas
datas = ['date_hoje', 'date_nasc', 'data_inicio', 'date_acas', 'date_nasc_acas', 'date_sex', 'data_solic', 'data_forn', 'data_fim']

#laço que em c percorre em datas e padronizando tudo em formato de data pela função to_datetime
for c in datas:
    num_sex[c] = pd.to_datetime(num_sex[c], unit = 's') #indica o formato das datas
    
num_sex.head()

/home/eloiza/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

,date_hoje,user,ling,num_ani,m_f,date_nasc,id_orig,util,id_solic,data_inicio,...,date_acas,date_nasc_acas,num_nasc,date_sex,num_sex_m,num_sex_f,num_ani_ini,num_ani_fim,obs_desc,grupos_acas
id,,,,,,,,,,,,,,,,,,,,,
116,2014-09-23 17:40:33,Tania,Swiss E,5,AAA,1970-01-01 00:11:06,54,nasc,666,1970-01-01 00:11:06,...,2014-08-26 17:06:07,2014-09-23 17:40:33,5,2014-10-14 17:40:33,666,666,666,666,AAA,AAA
117,2014-09-23 17:40:33,Tania,Swiss E,10,AAA,1970-01-01 00:11:06,56,nasc,666,1970-01-01 00:11:06,...,2014-08-26 17:14:19,2014-09-23 17:40:33,10,2014-10-14 17:40:33,666,666,666,666,AAA,AAA
118,2014-09-23 17:40:33,Tania,Swiss C,20,AAA,1970-01-01 00:11:06,62,nasc,666,1970-01-01 00:11:06,...,2014-08-26 17:46:07,2014-09-23 17:40:33,20,2014-10-14 17:40:33,666,666,666,666,AAA,AAA
119,2014-09-23 17:40:47,Tania,Swiss E,10,AAA,1970-01-01 00:11:06,116,nasc,666,1970-01-01 00:11:06,...,2014-08-26 17:06:07,2014-09-23 17:40:47,10,2014-10-14 17:40:47,666,666,666,666,AAA,AAA
120,2014-09-23 17:40:47,Tania,Swiss E,20,AAA,1970-01-01 00:11:06,117,nasc,666,1970-01-01 00:11:06,...,2014-08-26 17:14:19,2014-09-23 17:40:47,20,2014-10-14 17:40:47,666,666,666,666,AAA,AAA

In [50]:
#'Test', 'AAA', 'Swiss', 'C57BL06WT\t', 'Swiss/CFW B', 'Swiss/CFW D','Swiss/CFW A','Swiss/CFW C', 'Swiss/CFW', 'Swiss-2', 'Swiss-2 A ', 'NZB/BINJ','NZW/LacJ','NOD / SHILTJ')

tirar_ling = num_sex.query("ling != 'Swiss'").query("ling != 'C57BL06WT\t'").query("ling != 'Swiss/CFW B'"). query("ling != 'Swiss/CFW D'").query("ling != 'Swiss/CFW A'").query("ling != 'Swiss/CFW C'"). query("ling != 'Swiss/CFW'").query("ling != 'Swiss-2'").query("ling != 'Swiss-2 A '")#.query("ling != 'NZB/BINJ'").query("ling != 'NZW/LacJ'").query("ling != 
#'NOD / SHILTJ'")
tirar_ling

,date_hoje,user,ling,num_ani,m_f,date_nasc,id_orig,util,id_solic,data_inicio,...,date_acas,date_nasc_acas,num_nasc,date_sex,num_sex_m,num_sex_f,num_ani_ini,num_ani_fim,obs_desc,grupos_acas
id,,,,,,,,,,,,,,,,,,,,,
116,2014-09-23 17:40:33,Tania,Swiss E,5,AAA,1970-01-01 00:11:06,54,nasc,666,1970-01-01 00:11:06,...,2014-08-26 17:06:07,2014-09-23 17:40:33,5,2014-10-14 17:40:33,666,666,666,666,AAA,AAA
117,2014-09-23 17:40:33,Tania,Swiss E,10,AAA,1970-01-01 00:11:06,56,nasc,666,1970-01-01 00:11:06,...,2014-08-26 17:14:19,2014-09-23 17:40:33,10,2014-10-14 17:40:33,666,666,666,666,AAA,AAA
118,2014-09-23 17:40:33,Tania,Swiss C,20,AAA,1970-01-01 00:11:06,62,nasc,666,1970-01-01 00:11:06,...,2014-08-26 17:46:07,2014-09-23 17:40:33,20,2014-10-14 17:40:33,666,666,666,666,AAA,AAA
119,2014-09-23 17:40:47,Tania,Swiss E,10,AAA,1970-01-01 00:11:06,116,nasc,666,1970-01-01 00:11:06,...,2014-08-26 17:06:07,2014-09-23 17:40:47,10,2014-10-14 17:40:47,666,666,666,666,AAA,AAA
120,2014-09-23 17:40:47,Tania,Swiss E,20,AAA,1970-01-01 00:11:06,117,nasc,666,1970-01-01 00:11:06,...,2014-08-26 17:14:19,2014-09-23 17:40:47,20,2014-10-14 17:40:47,666,666,666,666,AAA,AAA
121,2014-09-23 17:40:47,Tania,Swiss C,40,AAA,1970-01-01 00:11:06,118,nasc,666,1970-01-01 00:11:06,...,2014-08-26 17:46:07,2014-09-23 17:40:47,40,2014-10-14 17:40:47,666,666,666,666,AAA,AAA
122,2014-09-23 18:13:24,Tania,Swiss D,10,AAA,1970-01-01 00:11:06,58,nasc,666,1970-01-01 00:11:06,...,2014-08-26 17:26:13,2014-09-23 18:13:24,10,2014-10-14 18:13:24,666,666,666,666,AAA,AAA
123,2014-09-23 18:13:24,Tania,Swiss B,10,AAA,1970-01-01 00:11:06,60,nasc,666,1970-01-01 00:11:06,...,2014-08-26 17:38:13,2014-09-23 18:13:24,10,2014-10-14 18:13:24,666,666,666,666,AAA,AAA
124,2014-09-23 18:13:25,Tania,Swiss C,60,AAA,1970-01-01 00:11:06,121,nasc,666,1970-01-01 00:11:06,...,2014-08-26 17:46:07,2014-09-23 18:13:25,60,2014-10-14 18:13:25,666,666,666,666,AAA,AAA
132,2014-09-29 18:09:49,Tania,Swiss E,18,AAA,1970-01-01 00:11:06,126,nasc,666,1970-01-01 00:11:06,...,2014-08-26 17:14:19,2014-09-29 18:09:49,18,2014-10-20 18:09:49,666,666,666,666,AAA,AAA
133,2014-09-29 18:10:03,Tania,Swiss E,26,AAA,1970-01-01 00:11:06,132,nasc,666,1970-01-01 00:11:06,...,2014-08-26 17:14:19,2014-09-29 18:10:03,26,2014-10-20 18:10:03,666,666,666,666,AAA,AAA
134,2014-09-29 18:10:21,Tania,Swiss E,34,AAA,1970-01-01 00:11:06,133,nasc,666,1970-01-01 00:11:06,...,2014-08-26 17:14:19,2014-09-29 18:10:21,34,2014-10-20 18:10:21,666,666,666,666,AAA,AAA
258,2014-10-06 18:11:54,Tania,Swiss E,11,AAA,1970-01-01 00:11:06,257,nasc,666,1970-01-01 00:11:06,...,2014-10-06 18:08:43,2014-10-06 18:11:54,11,2014-10-27 18:11:54,666,666,666,666,AAA,AAA
259,2014-10-06 18:12:08,Tania,Swiss E,22,AAA,1970-01-01 00:11:06,258,nasc,666,1970-01-01 00:11:06,...,2014-10-06 18:08:43,2014-10-06 18:12:08,22,2014-10-27 18:12:08,666,666,666,666,AAA,AAA
374,2014-10-21 12:43:17,Tania,S129WT,8,AAA,1970-01-01 00:11:06,369,nasc,666,1970-01-01 00:11:06,...,2014-10-21 12:36:03,2014-10-21 12:43:17,8,2014-11-11 12:43:17,666,666,666,666,AAA,AAA
375,2014-10-21 12:43:17,Tania,S129WT,2,AAA,1970-01-01 00:11:06,371,nasc,666,1970-01-01 00:11:06,...,2014-10-21 12:37:20,2014-10-21 12:43:17,2,2014-11-11 12:43:17,666,666,666,666,AAA,AAA
376,2014-10-21 12:43:17,Tania,S129WT,4,AAA,1970-01-01 00:11:06,373,nasc,666,1970-01-01 00:11:06,...,2014-10-21 12:40:29,2014-10-21 12:43:17,4,2014-11-11 12:43:17,666,666,666,666,AAA,AAA
381,2014-10-21 13:02:34,Tania,S129KO,5,AAA,1970-01-01 00:11:06,380,nasc,666,1970-01-01 00:11:06,...,2014-10-21 13:01:09,2014-10-21 13:02:34,5,2014-11-11 13:02:34,666,666,666,666,AAA,AAA
456,2014-10-24 15:47:48,Tania,S129KO,6,AAA,1970-01-01 00:11:06,249,nasc,666,1970-01-01 00:11:06,...,2014-10-03 17:18:01,2014-10-24 15:47:48,6,2014-11-14 15:47:48,666,666,666,666,AAA,AAA
499,2014-11-11 11:50:50,Giovanny,Balb/c,4,AAA,1970-01-01 00:11:06,392,nasc,666,1970-01-01 00:11:06,...,2014-10-21 16:53:29,2014-11-11 11:50:50,4,2014-12-02 11:50:50,666,666,666,666,AAA,AAA
500,2014-11-11 11:50:50,Giovanny,Balb/c,5,AAA,1970-01-01 00:11:06,390,nasc,666,1970-01-01 00:11:06,...,2014-10-21 16:50:24,2014-11-11 11:50:50,5,2014-12-02 11:50:50,666,666,666,666,AAA,AAA
501,2014-11-11 11:51:07,Giovanny,Balb/c,8,AAA,1970-01-01 00:11:06,499,nasc,666,1970-01-01 00:11:06,...,2014-10-21 16:53:29,2014-11-11 11:51:07,8,2014-12-02 11:51:07,666,666,666,666,AAA,AAA
502,2014-11-11 11:51:07,Giovanny,Balb/c,10,AAA,1970-01-01 00:11:06,500,nasc,666,1970-01-01 00:11:06,...,2014-10-21 16:50:24,2014-11-11 11:51:07,10,2014-12-02 11:51:07,666,666,666,666,AAA,AAA
513,2014-11-11 12:25:07,Tania,C57BL06WT,6,AAA,1970-01-01 00:11:06,437,nasc,666,1970-01-01 00:11:06,...,2014-10-22 16:26:18,2014-11-11 12:25:07,6,2014-12-02 12:25:07,666,666,666,666,AAA,AAA
519,2014-11-11 15:44:47,Tania,S129WT,5,AAA,1970-01-01 00:11:06,362,nasc,666,1970-01-01 00:11:06,...,2014-10-21 12:28:04,2014-11-11 15:44:47,5,2014-12-02 15:44:47,666,666,666,666,AAA,AAA
531,2014-11-12 12:45:03,Tania,S129WT,9,AAA,1970-01-01 00:11:06,243,nasc,666,1970-01-01 00:11:06,...,2014-10-03 16:46:53,2014-11-12 12:45:03,9,2014-12-03 12:45:03,666,666,666,666,AAA,AAA
532,2014-11-12 12:45:04,Tania,S129WT,3,AAA,1970-01-01 00:11:06,360,nasc,666,1970-01-01 00:11:06,...,2014-10-21 12:27:00,2014-11-12 12:45:04,3,2014-12-03 12:45:04,666,666,666,666,AAA,AAA
549,2014-11-12 13:08:54,Tania,S129KO,3,AAA,1970-01-01 00:11:06,250,nasc,666,1970-01-01 00:11:06,...,2014-10-03 17:18:01,2014-11-12 13:08:54,3,2014-12-03 13:08:54,666,666,666,666,AAA,AAA
564,2014-11-18 12:17:18,Giovanny,Balb/c,14,AAA,1970-01-01 00:11:06,502,nasc,666,1970-01-01 00:11:06,...,2014-10-21 16:50:24,2014-11-18 12:17:18,14,2014-12-09 12:17:18,666,666,666,666,AAA,AAA
565,2014-11-18 12:18:56,Giovanny,Balb/c,13,AAA,1970-01-01 00:11:06,501,nasc,666,1970-01-01 00:11:06,...,2014-10-21 16:53:29,2014-11-18 12:18:56,13,2014-12-09 12:18:56,666,666,666,666,AAA,AAA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18194,2019-05-30 17:42:27,Tania,DBA/1J,10,AAA,1970-01-01 00:11:06,17001,nasc,666,1970-01-01 00:11:06,...,2019-04-08 19:39:28,2019-05-30 03:00:00,10,2019-06-20 03:00:00,666,666,666,666,AAA,AAA
18195,2019-05-30 17:43:18,Tania,DBA/1J,10,AAA,1970-01-01 00:11:06,17353,nasc,666,1970-01-01 00:11:06,...,2019-04-24 19:19:11,2019-05-30 03:00:00,10,2019-06-20 03:00:00,666,666,666,666,AAA,AAA
18196,2019-05-30 17:43:19,Tania,DBA/1J,10,AAA,1970-01-01 00:11:06,17360,nasc,666,1970-01-01 00:11:06,...,2019-04-24 19:23:06,2019-05-30 03:00:00,10,2019-06-20 03:00:00,666,666,666,666,AAA,AAA
18197,2019-05-30 17:43:19,Tania,DBA/1J,10,AAA,1970-01-01 00:11:06,17371,nasc,666,1970-01-01 00:11:06,...,2019-04-24 19:25:51,2019-05-30 03:00:00,10,2019-06-20 03:00:00,666,666,666,666,AAA,AAA
18198,2019-05-30 17:43:19,Tania,DBA/1J,10,AAA,1970-01-01 00:11:06,17373,nasc,666,1970-01-01 00:11:06,...,2019-04-24 19:26:32,2019-05-30 03:00:00,10,2019-06-20 03:00:00,666,666,666,666,AAA,AAA
18199,2019-05-30 17:43:19,Tania,DBA/1J,10,AAA,1970-01-01 00:11:06,17380,nasc,666,1970-01-01 00:11:06,...,2019-04-24 19:28:46,2019-05-30 03:00:00,10,2019-06-20 03:00:00,666,666,666,666,AAA,AAA
18200,2019-05-30 17:43:19,Tania,DBA/1J,10,AAA,1970-01-01 00:11:06,17382,nasc,666,1970-01-01 00:11:06,...,2019-04-24 19:29:10,2019-05-30 03:00:00,10,2019-06-20 03:00:00,666,666,666,666,AAA,AAA
18201,2019-05-30 17:43:19,Tania,DBA/1J,10,AAA,1970-01-01 00:11:06,17384,nasc,666,1970-01-01 00:11:06,...,2019-04-24 19:29:32,2019-05-30 03:00:00,10,2019-06-20 03:00:00,666,666,666,666,AAA,AAA
18240,2019-06-13 13:40:35,Tania,C3H,5,AAA,1970-01-01 00:00:00,17864,nasc,666,1970-01-01 00:11:06,...,2019-04-24 14:11:36,2019-06-13 03:00:00,5,2019-07-04 03:00:00,666,666,666,666,AAA,AAA
18256,2019-06-13 13:52:02,Tania,129/SV-E,6,AAA,1970-01-01 00:00:00,17886,nasc,666,1970-01-01 00:11:06,...,2019-03-25 18:14:08,2019-06-13 03:00:00,6,2019-07-04 03:00:00,666,3,666,666,AAA,AAA
18267,2019-06-13 13:56:50,Tania,129/SV-E,9,AAA,1970-01-01 00:00:00,17659,nasc,666,1970-01-01 00:11:06,...,2019-02-12 14:51:20,2019-06-13 03:00:00,9,2019-07-04 03:00:00,666,3,666,666,AAA,AAA
18283,2019-06-13 14:05:39,Tania,129/SV-E,7,AAA,1970-01-01 00:11:06,18281,nasc,666,1970-01-01 00:11:06,...,2019-04-24 15:02:06,2019-06-13 03:00:00,7,2019-07-04 03:00:00,666,1,666,666,AAA,AAA
18284,2019-06-13 14:06:51,Tania,129/SV-E,6,AAA,1970-01-01 00:00:00,18260,nasc,666,1970-01-01 00:11:06,...,2019-03-25 18:14:08,2019-06-13 03:00:00,6,2019-07-04 03:00:00,666,3,666,666,AAA,AAA
18308,2019-06-13 14:42:10,Tania,129/SV-E,2,AAA,1970-01-01 00:00:00,18271,nasc,666,1970-01-01 00:11:06,...,2019-02-12 14:51:20,2019-06-13 03:00:00,2,2019-07-04 03:00:00,4,666,666,666,AAA,AAA
18309,2019-06-13 14:42:22,Tania,129/SV-E,6,AAA,1970-01-01 00:00:00,18305,nasc,666,1970-01-01 00:11:06,...,2019-03-25 18:14:08,2019-06-13 03:00:00,6,2019-07-04 03:00:00,666,2,666,666,AAA,AAA
18349,2019-06-14 13:25:54,Tania,C57BL/6,6,AAA,1970-01-01 00:11:06,18122,nasc,666,1970-01-01 00:11:06,...,2019-05-08 16:38:37,2019-06-14 03:00:00,6,2019-07-05 03:00:00,666,5,666,666,AAA,AAA
18350,2019-06-14 13:26:43,Tania,C57BL/6,7,AAA,1970-01-01 00:11:06,17567,nasc,666,1970-01-01 00:11:06,...,2019-05-08 16:35:56,2019-06-14 03:00:00,7,2019-07-05 03:00:00,666,666,666,666,AAA,AAA
18351,2019-06-14 13:26:43,Tania,C57BL/6,6,AAA,1970-01-01 00:11:06,17577,nasc,666,1970-01-01 00:11:06,...,2019-05-08 16:47:52,2019-06-14 03:00:00,6,2019-07-05 03:00:00,666,666,666,666,AAA,AAA
18352,2019-06-14 13:26:43,Tania,C57BL/6,12,AAA,1970-01-01 00:00:00,17586,nasc,666,1970-01-01 00:11:06,...,2019-05-08 16:57:29,2019-06-14 03:00:00,12,2019-07-05 03:00:00,666,666,666,666,AAA,AAA
18353,2019-06-14 13:28:45,Tania,C57BL/6,7,AAA,1970-01-01 00:11:06,17563,nasc,666,1970-01-01 00:11:06,...,2019-05-08 16:34:44,2019-06-14 03:00:00,7,2019-07-05 03:00:00,666,666,666,666,AAA,AAA
18354,2019-06-14 13:32:52,Tania,C57BL/6,6,AAA,1970-01-01 00:11:06,17569,nasc,666,1970-01-01 00:11:06,...,2019-05-08 16:36:23,2019-06-14 03:00:00,6,2019-07-05 03:00:00,666,666,666,666,AAA,AAA
18355,2019-06-14 13:33:57,Tania,C57BL/6,4,AAA,1970-01-01 00:11:06,17545,nasc,666,1970-01-01 00:11:06,...,2019-05-08 16:30:54,2019-06-11 03:00:00,4,2019-07-02 03:00:00,666,666,666,666,AAA,AAA
18356,2019-06-14 13:35:34,Tania,C57BL/6,6,AAA,1970-01-01 00:11:06,17555,nasc,666,1970-01-01 00:11:06,...,2019-05-08 16:33:09,2019-06-14 03:00:00,6,2019-07-05 03:00:00,666,666,666,666,AAA,AAA
18357,2019-06-14 13:48:20,Tania,C57BL/6,8,AAA,1970-01-01 00:11:06,17559,nasc,666,1970-01-01 00:11:06,...,2019-05-08 16:33:58,2019-06-14 03:00:00,8,2019-07-05 03:00:00,666,666,666,666,AAA,AAA
18358,2019-06-14 13:48:37,Tania,C57BL/6,9,AAA,1970-01-01 00:11:06,17561,nasc,666,1970-01-01 00:11:06,...,2019-05-08 16:34:19,2019-06-14 03:00:00,9,2019-07-05 03:00:00,666,666,666,666,AAA,AAA
18359,2019-06-14 13:50:54,Tania,C57BL/6,10,AAA,1970-01-01 00:11:06,18125,nasc,666,1970-01-01 00:11:06,...,2019-05-08 16:31:57,2019-06-14 03:00:00,10,2019-07-05 03:00:00,666,666,666,666,AAA,AAA
18360,2019-06-14 13:55:32,Tania,C57BL/6,10,AAA,1970-01-01 00:11:06,17573,nasc,666,1970-01-01 00:11:06,...,2019-05-08 16:46:53,2019-06-14 03:00:00,10,2019-07-05 03:00:00,666,666,666,666,AAA,AAA
18361,2019-06-14 13:55:32,Tania,C57BL/6,12,AAA,1970-01-01 00:11:06,17579,nasc,666,1970-01-01 00:11:06,...,2019-05-08 16:48:20,2019-06-14 03:00:00,12,2019-07-05 03:00:00,666,666,666,666,AAA,AAA
18362,2019-06-14 13:58:50,Tania,C57BL/6,11,AAA,1970-01-01 00:11:06,17581,nasc,666,1970-01-01 00:11:06,...,2019-05-08 16:48:43,2019-06-14 03:00:00,11,2019-07-05 03:00:00,666,666,666,666,AAA,AAA
18363,2019-06-14 14:04:31,Tania,C57BL/6,11,AAA,1970-01-01 00:11:06,18124,nasc,666,1970-01-01 00:11:06,...,2019-05-08 16:35:18,2019-06-14 03:00:00,11,2019-07-05 03:00:00,666,666,666,666,AAA,AAA