In [2]:
import pandas as pd
est_est_log = pd.read_csv('est_est_log_2019-03-07.csv').set_index('id')
est_est_log.head(10)

,date_hoje,user,ling,num_ani,m_f,date_nasc,id_orig,util,id_solic,data_inicio,...,date_acas,date_nasc_acas,num_nasc,date_sex,num_sex_m,num_sex_f,num_ani_ini,num_ani_fim,obs_desc,grupos_acas
id,,,,,,,,,,,,,,,,,,,,,
1,1408122540,Giovanny,Swiss A,3,m,1402372800,inser,inser,666,666,...,666,666,666,666,666,666,666,666,AAA,AAA
2,1408122540,Giovanny,Swiss A,2,f,1402372800,inser,inser,666,666,...,666,666,666,666,666,666,666,666,AAA,AAA
3,1408122540,Giovanny,Swiss B,3,m,1402372800,inser,inser,666,666,...,666,666,666,666,666,666,666,666,AAA,AAA
4,1408122540,Giovanny,Swiss B,3,f,1402372800,inser,inser,666,666,...,666,666,666,666,666,666,666,666,AAA,AAA
5,1408122540,Giovanny,Swiss B,4,f,1402372800,inser,inser,666,666,...,666,666,666,666,666,666,666,666,AAA,AAA
6,1408122540,Giovanny,Swiss B,3,f,1396497600,inser,inser,666,666,...,666,666,666,666,666,666,666,666,AAA,AAA
7,1408122540,Giovanny,Swiss C,2,f,1396324800,inser,inser,666,666,...,666,666,666,666,666,666,666,666,AAA,AAA
8,1408122801,Giovanny,Swiss C,5,f,1404792000,inser,inser,666,666,...,666,666,666,666,666,666,666,666,AAA,AAA
9,1408122801,Giovanny,Swiss C,3,m,1404792000,inser,inser,666,666,...,666,666,666,666,666,666,666,666,AAA,AAA
10,1408122801,Giovanny,Swiss D,3,f,1404705600,inser,inser,666,666,...,666,666,666,666,666,666,666,666,AAA,AAA