In [17]:
import pandas as pd #biblioteca importada

dados = [[1, 2, 3],
         [4, 5, 6],
         [7, 8, 9] #matriz
        ]
colunas = ['Black', 'Swiss', 'Balb'] #identificando as colunas
index = ['A', 'B', 'C'] #identificando o index
df = pd.DataFrame(data=dados, columns=colunas, index = index, dtype = 'float64')

In [18]:
df

   Black  Swiss  Balb
A    1.0    2.0   3.0
B    4.0    5.0   6.0
C    7.0    8.0   9.0

In [28]:
import numpy as np
dados = np.random.randint(low=0, high=10, size=(5,5))
dados
colunas = ['A', 'B', 'C', 'D', 'E']
df = pd.DataFrame(data=dados, columns=colunas)
df

   A  B  C  D  E
0  1  9  1  2  9
1  7  8  8  9  9
2  0  0  5  9  6
3  6  2  1  5  0
4  5  0  6  0  5

In [ ]:
#sobre DataFrame
df = pd.DataFrame()
#df: é uma variável
#pd.DataFrama: função dentro de pandas, equivale a uma str, um int, um float..
#() dentro do parenteses é o input: o que vai ler o que tem nesse DataFrame