Verificando informações referentes a sexagem de animais.

In [1]:
#Importando bibliotecas necessárias para a análise.

import matplotlib.pyplot as plt 
import pandas as pd 
import os
import seaborn as sns


plt.rcParams.update({'font.size': 20}) #tamanho da fonte
plt.rcParams['xtick.labelsize'] = 20 #tamanho da fonte
plt.rcParams['ytick.labelsize'] = 20 #tamanho da fonte

Verificando informações referente aos machos

In [3]:
#Filtros para trabalhar com os dados da minha dataframe original

sexa_ani_m = pd.read_csv('../tabelas_test/est_est_log_2019-06-18.csv', index_col='id')
sexa_ani_m = sexa_ani_m[
    (sexa_ani_m['num_sex_m'] < 200) &
    (sexa_ani_m['util'] == 'sex') &
    (sexa_ani_m['ling'] != 'Test') &
    (sexa_ani_m['num_sex_m'] != 666)
]
                   


#+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
#Alterando formato da data

datas = ['date_hoje', 'date_nasc', 'data_inicio', 'date_acas', 'date_nasc_acas', 'date_sex']

for d in datas:
    sexa_ani_m[d] = pd.to_datetime(sexa_ani_m[d], unit = 's')
    
sexa_ani_m.head()

,date_hoje,user,ling,num_ani,m_f,date_nasc,id_orig,util,id_solic,data_inicio,...,date_acas,date_nasc_acas,num_nasc,date_sex,num_sex_m,num_sex_f,num_ani_ini,num_ani_fim,obs_desc,grupos_acas
id,,,,,,,,,,,,,,,,,,,,,
458,2014-10-30 12:06:36,Tania,S129WT,4,m,2014-10-21 12:43:17,374,sex,666,1970-01-01 00:11:06,...,1970-01-01 00:11:06,1970-01-01 00:11:06,666,2014-10-30 12:06:36,4,666,666,666,AAA,AAA
465,2014-10-30 12:34:35,Tania,Swiss E,16,m,2014-10-06 18:11:54,463,sex,666,1970-01-01 00:11:06,...,1970-01-01 00:11:06,1970-01-01 00:11:06,666,2014-10-30 12:34:35,3,666,666,666,AAA,I
467,2014-10-30 12:34:35,Tania,Swiss E,13,m,2014-10-06 18:11:54,465,sex,666,1970-01-01 00:11:06,...,1970-01-01 00:11:06,1970-01-01 00:11:06,666,2014-10-30 12:34:35,3,666,666,666,AAA,I
489,2014-11-05 17:13:53,Tania,S129WT,666,m,2014-10-21 12:43:17,376,sex,666,1970-01-01 00:11:06,...,1970-01-01 00:11:06,1970-01-01 00:11:06,666,2014-11-05 17:13:53,4,666,666,666,AAA,AAA
517,2014-11-11 12:26:51,Tania,C57BL06WT,6,m,2014-11-11 12:25:07,515,sex,666,1970-01-01 00:11:06,...,2014-11-11 12:26:51,2014-11-11 12:26:51,6,2014-11-11 12:26:51,4,666,666,666,AAA,AAA

In [4]:
#Filtros para trabalhar com os dados da minha dataframe original

sexa_ani_f = pd.read_csv('../tabelas_test/est_est_log_2019-06-18.csv', index_col='id')
sexa_ani_f = sexa_ani_f[
    (sexa_ani_f['num_sex_f'] < 200) &
    (sexa_ani_f['util'] == 'sex') &
    (sexa_ani_f['ling'] != 'Test') &
    (sexa_ani_f['num_sex_f'] != 666)
]
                   


#+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
#Alterando formato da data

datas = ['date_hoje', 'date_nasc', 'data_inicio', 'date_acas', 'date_nasc_acas', 'date_sex']

for d in datas:
    sexa_ani_f[d] = pd.to_datetime(sexa_ani_f[d], unit = 's')
    
sexa_ani_f.head()

,date_hoje,user,ling,num_ani,m_f,date_nasc,id_orig,util,id_solic,data_inicio,...,date_acas,date_nasc_acas,num_nasc,date_sex,num_sex_m,num_sex_f,num_ani_ini,num_ani_fim,obs_desc,grupos_acas
id,,,,,,,,,,,,,,,,,,,,,
460,2014-10-30 12:06:36,Tania,S129WT,2,f,2014-10-21 12:43:17,458,sex,666,1970-01-01 00:11:06,...,1970-01-01 00:11:06,1970-01-01 00:11:06,666,2014-10-30 12:06:36,666,2,666,666,AAA,AAA
463,2014-10-30 12:34:35,Tania,Swiss E,19,f,2014-10-06 18:11:54,454,sex,666,1970-01-01 00:11:06,...,1970-01-01 00:11:06,1970-01-01 00:11:06,666,2014-10-30 12:34:35,666,3,666,666,AAA,I
491,2014-11-05 17:13:53,Tania,S129WT,665,f,2014-10-21 12:43:17,489,sex,666,1970-01-01 00:11:06,...,1970-01-01 00:11:06,1970-01-01 00:11:06,666,2014-11-05 17:13:53,666,1,666,666,AAA,AAA
515,2014-11-11 12:26:51,Tania,C57BL06WT,4,f,2014-11-11 12:25:07,513,sex,666,1970-01-01 00:11:06,...,2014-11-11 12:26:51,2014-11-11 12:26:51,6,2014-11-11 12:26:51,666,2,666,666,AAA,AAA
534,2014-11-12 12:47:13,Tania,S129WT,1,f,2014-10-21 12:43:17,375,sex,666,1970-01-01 00:11:06,...,1970-01-01 00:11:06,1970-01-01 00:11:06,666,2014-11-12 12:47:13,666,1,666,666,AAA,AAA

In [6]:
sexa_ani_m['num_sex_m'].sum()

5258

In [7]:
len(sexa_ani_m)

1529

In [8]:
sexa_ani_m['ling'].value_counts()

Balb/c         371
C57BL/6        352
S129KO         197
C3H             89
129/SV-E        83
Swiss-2 D       45
Swiss-1 B       31
Swiss-2 C       30
Swiss-1 A       29
Swiss-2 E       28
Swiss-2 B       27
Swiss-1 E       26
Swiss-2 A       25
S129WT          25
Swiss-1 C       24
C57BL06WT       24
Swiss-1 D       24
Swiss A         14
Swiss E         11
Swiss D         11
Swiss C         11
Swiss B         10
Swiss/CFW C      7
 S129WT          7
Swiss/CFW        6
AG129            6
Swiss/CFW B      6
Swiss/CFW A      4
 S129KO          3
Swiss/CFW D      3
Name: ling, dtype: int64

In [9]:
#Substituindo linhagens  - ' S129WT', 'S129WT'] PARA '129/SV-E'

sexa_ani_m['ling'].replace([' S129WT', 'S129WT'], '129/SV-E', inplace=True)
#sexa_ani[(sexa_ani['ling'] == '129/SV-E')].info()

'''
#++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
'''

#Substituindo linhagens  - ' S129KO'  PARA 'S129KO'

sexa_ani_m['ling'].replace(' S129KO', 'S129KO', inplace=True)
#sexa_ani[(sexa_ani['ling'] == 'S129KO')].info()

'''
#++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
'''
#Substituindo linhagens  - 'C57BL06WT'  PARA 'C57BL/6'

sexa_ani_m['ling'].replace(['C57BL06WT','C57BL06WT\t'], 'C57BL/6', inplace=True)
#sexa_ani[(sexa_ani['ling'] == 'C57BL/6')].info()

'''
#++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
'''
#Substituindo linhagens  - 'Swiss A' PARA 'Swiss-1 A'

sexa_ani_m['ling'].replace(['Swiss A','Swiss/CFW', 'Swiss/CFW A'], 'Swiss-1 A', inplace=True)
#sexa_ani[(sexa_ani['ling'] == 'Swiss-1 A')].info()

'''
#++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
'''
#Substituindo linhagens  - 'Swiss B' PARA 'Swiss-1 B'

sexa_ani_m['ling'].replace(['Swiss B','Swiss/CFW B'], 'Swiss-1 B', inplace=True)
#sexa_ani[(sexa_ani['ling'] == 'Swiss-1 B')].info()

'''
#++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
'''
#Substituindo linhagens  - 'Swiss C' PARA 'Swiss-1 C'

sexa_ani_m['ling'].replace(['Swiss C','Swiss/CFW C'], 'Swiss-1 C', inplace=True)
#sexa_ani[(sexa_ani['ling'] == 'Swiss-1 C')].info()

'''
#++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
'''
#Substituindo linhagens  - 'Swiss D' PARA 'Swiss-1 D'

sexa_ani_m['ling'].replace(['Swiss D','Swiss/CFW D'], 'Swiss-1 D', inplace=True)
#sexa_ani[(sexa_ani['ling'] == 'Swiss-1 D')].info()

'''
#++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
'''
#Substituindo linhagens  - 'Swiss E' PARA 'Swiss-1 E'

sexa_ani_m['ling'].replace('Swiss E', 'Swiss-1 E', inplace=True)
#sexa_ani[(sexa_ani['ling'] == 'Swiss-1 E')].info()
'''
#++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
'''
#Substituindo linhagens  - 'Swiss-2 A' PARA 'Swiss-2 A'

sexa_ani_m['ling'].replace('Swiss-2 A ', 'Swiss-2 A', inplace=True)
#sexa_ani[(sexa_ani['ling'] == 'Swiss-1 E')].info()

In [10]:
sexa_ani_m['ling'].value_counts()

C57BL/6      376
Balb/c       371
S129KO       200
129/SV-E     115
C3H           89
Swiss-1 A     53
Swiss-1 B     47
Swiss-2 D     45
Swiss-1 C     42
Swiss-1 D     38
Swiss-1 E     37
Swiss-2 C     30
Swiss-2 E     28
Swiss-2 B     27
Swiss-2 A     25
AG129          6
Name: ling, dtype: int64

In [ ]:
media_g = sexa_ani.groupby('ling')
media_plot = round(media_g['num_sex_m'].sum().mean(),2)
media_plot

In [ ]:
mediana_g = sexa_ani.groupby('ling')
mediana_plot = round(mediana_g['num_sex_m'].sum().median(),2)
mediana_plot

In [ ]:
#Numero total de machos produzidos 

plt.figure(figsize=(15,10)) #tamanho do gráfico
plt.title('Total de machos produzidos por linhagem') #título do gráfico

plot = sexa_ani.groupby('ling') #pedindo pra agrupar por linhagem
plot['num_sex_m'].sum().sort_values(ascending=True).plot( #plotando a soma de animais e ordenando do maior para o menor
kind='barh'
)
#+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
#plotando faixas de média e mediana


plt.plot( #função para plotar o gráfico
    [media_plot, media_plot], #faixa que marca a média
    [len(sexa_ani.index), 0], 
    c='red' #cor vermelha da faixa
)
plt.plot( #função para plotar o gráfico
    [mediana_plot, mediana_plot], #faixa que marca a mediana
    [len(sexa_ani.index), 0], 
    c='green' #cor verde da faixa
)
#+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
#Editando as legendas 

plt.legend([str(media_plot) + ' média ani/ling', str(mediana_plot) + ' mediana ani/ling'])
plt.xlabel('Número de Animais') #definindo nome do eixo X
plt.ylabel('Linhagens') #definindo nome do eixo Y

In [ ]:
media_mg = sexa_ani.groupby('ling')                    #Agrupando minha dataframe por linhagem
mediana = round(media_mg['num_sex_m'].median(),2)      #Pegando as medianas da coluna 'num_sex_m', arredondando e guardando numa variável
media_grafico = round(mediana.mean(),2)                #Calculando a média das minhas medianas e guardando em outra variavel
media_grafico

In [ ]:
mediana_grafico = round(mediana.median(),2)          #peguei a variável que continha minhas medianas e calculei a mediana das medianas.
mediana_grafico

In [ ]:
# Calculando a mediana da produção de animais machos

plt.figure(figsize=(15,10)) #tamanho do gráfico
plt.title('Mediana de machos produzidos por linhagem') #título do gráfico

plot = sexa_ani.groupby('ling') #pedindo pra agrupar por linhagem
plot['num_sex_m'].median().sort_values(ascending=True).plot( #plotando a soma de animais e ordenando do maior para o menor
kind='barh'
)
#+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
#plotando faixas de média e mediana


plt.plot( #função para plotar o gráfico
    [media_grafico, media_grafico], #faixa que marca a média
    [len(sexa_ani.index), 0], 
    c='red' #cor vermelha da faixa
)
plt.plot( #função para plotar o gráfico
    [mediana_grafico, mediana_grafico], #faixa que marca a mediana
    [len(sexa_ani.index), 0], 
    c='green' #cor verde da faixa
)
#+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
#Editando as legendas 

plt.legend([str(media_grafico) + ' média ani/ling', str(mediana_grafico) + ' mediana ani/ling'])
plt.xlabel('Número de Animais') #definindo nome do eixo X
plt.ylabel('Linhagens') #definindo nome do eixo Y

In [ ]:
plt.figure(figsize=(15,15))
plt.title('Total de machos por linhagem apresentando outliers')
sns.boxplot(
    
    y='ling',
    x='num_sex_m',
#     hue='ling',
    data=sexa_ani.sort_values('ling')
)
plt.xlabel('Número de Animais com outliers') #definindo nome do eixo X
plt.ylabel('Linhagens') #definindo nome do eixo Y