In [1]:
import pandas as pd

In [9]:
corona = pd.read_csv('../tabelas_test/COVID19_REGIOES BR.csv', sep=';')
corona_PR = corona[(corona['estado'] == 'PR') & (corona['casosNovos']!=0)]
corona_PR

,regiao,estado,data,casosNovos,casosAcumulados,obitosNovos,obitosAcumulados
1322,Sul,PR,12/03/2020,6,6,0,0
1328,Sul,PR,18/03/2020,7,13,0,0
1329,Sul,PR,19/03/2020,10,23,0,0
1330,Sul,PR,20/03/2020,9,32,0,0
1331,Sul,PR,21/03/2020,11,43,0,0
1332,Sul,PR,22/03/2020,7,50,0,0
1333,Sul,PR,23/03/2020,6,56,0,0
1334,Sul,PR,24/03/2020,9,65,0,0
1335,Sul,PR,25/03/2020,16,81,0,0
1336,Sul,PR,26/03/2020,21,102,0,0
1337,Sul,PR,27/03/2020,17,119,2,2
1338,Sul,PR,28/03/2020,14,133,0,2
1339,Sul,PR,29/03/2020,15,148,0,2
1340,Sul,PR,30/03/2020,7,155,1,3
1341,Sul,PR,31/03/2020,24,179,0,3
1342,Sul,PR,01/04/2020,45,224,0,3
1343,Sul,PR,02/04/2020,28,252,1,4

In [10]:
corona_PR['obitosAcumulados'].sum()

19