In [10]:
import pandas as pd
from statsmodels.tsa.seasonal import seasonal_decompose
import matplotlib.pyplot as plt 
import os
import seaborn as sns
import numpy as np

ANALISE PELO TOTAL DE ANIMAIS

In [9]:
#DataFrame contendo todas as linhagens sem outliers
serie_temp_ling = pd.read_csv('../tabelas_test/serie_temp_ling.csv', index_col='date_hoje')
serie_temp_ling.head()

                          ling  num_ani
date_hoje
2014-09-23 17:40:33  Swiss-1 E        5
2014-09-23 17:40:33  Swiss-1 E       10
2014-09-23 17:40:47  Swiss-1 E       10
2014-09-23 18:13:24  Swiss-1 D       10
2014-09-23 18:13:24  Swiss-1 B       10

In [6]:
#Dataframe com os valores somados por semana a cada ano.
tempo_semana = pd.read_csv('../tabelas_test/test_tempo_semana.csv', index_col='date_hoje')
tempo_semana.head()

            num_ani
date_hoje
2014-09-28       45
2014-10-05        0
2014-10-12       11
2014-10-19        0
2014-10-26       25

In [19]:
#Série temporal somando o numero de animais de todas os meses por ano

tempo_mes = serie_temp_ling.resample('M').sum()
tempo_mes
# decom = seasonal_decompose(semana)

# # Plotagem de gráfico ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
# plt.figure(figsize=(20, 10))
# plt.title('Decomposição da Série Temporal Nascimento de Animais') 
# plt.legend(['Decomposição da Série Temporal Nascimento de Animais'])

# plt.subplot(4, 1, 1)
# plt.plot(semana, label = 'Nº nascidos', color='red')
# plt.legend(loc = 'best')

# plt.subplot(4, 1, 2)
# plt.plot(decom.trend, label = 'Tendência', color='green')
# plt.legend(loc = 'best')

# plt.subplot(4, 1, 3)
# plt.plot(decom.seasonal, label = 'Sazonalidade', color='blue')
# plt.legend(loc = 'best')

# plt.subplot(4, 1, 4)
# plt.plot(decom.resid, label = 'Aleatoriedade', color='grey')
# plt.legend(loc = 'best')

# plt.xlabel('Data Nascimento')
# plt.tight_layout()

TypeError: Only valid with DatetimeIndex, TimedeltaIndex or PeriodIndex, but got an instance of 'Index'

In [13]:
#Dataframe com os valores somados por semana a cada ano.
tempo_mes = pd.read_csv('../tabelas_test/test_tempo_mes.csv', index_col='date_hoje')
tempo_mes.head()

            num_ani
date_hoje
2014-09-30       45
2014-10-31       36
2014-11-30       80
2014-12-31      161
2015-01-31       42

In [ ]:
ANALISE POR GRUPOS

In [16]:
#Criando um DataFrame para trabalhar somente com o grupo isogênico

ling_iso = ['Balb/c','S129KO','C57BL/6','129/SV-E','C3H','DBA/1J','AG129']

serie_lings = serie_temp_ling[serie_temp_ling['ling'].isin(ling_iso)]
serie_lings.head()

                         ling  num_ani
date_hoje
2014-10-21 12:43:17  129/SV-E        8
2014-10-21 12:43:17  129/SV-E        2
2014-10-21 12:43:17  129/SV-E        4
2014-10-21 13:02:34    S129KO        5
2014-10-24 15:47:48    S129KO        6